In [73]:
import pandas as pd
from datetime import datetime,date
import calendar
import numpy as np

# Reading the data

In [74]:
train=pd.read_csv('C:/Users/SAKETHBGS/Downloads/Data_Science_Assignment_M4_updated/train.csv')
test=pd.read_csv('C:/Users/SAKETHBGS/Downloads/Data_Science_Assignment_M4_updated/test.csv')

# Analysis

In [75]:
train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 0:00:00,1,0,0,1,9.84,14.395,81.0,0.0,3,13,16
1,2011-01-01 1:00:00,1,0,0,1,9.02,13.635,80.0,0.0,8,32,40
2,2011-01-01 2:00:00,1,0,0,1,9.02,13.635,80.0,0.0,5,27,32
3,2011-01-01 3:00:00,1,0,0,1,9.84,14.395,75.0,0.0,3,10,13
4,2011-01-01 4:00:00,1,0,0,1,9.84,14.395,75.0,0.0,0,1,1

In [76]:
train.isnull().sum()

datetime      0
season        0
holiday       0
workingday    0
weather       0
temp          0
atemp         0
humidity      0
windspeed     0
casual        0
registered    0
count         0
dtype: int64

In [77]:
test.isnull().sum()

datetime      0
season        0
holiday       0
workingday    0
weather       0
temp          0
atemp         0
humidity      0
windspeed     0
casual        0
registered    0
dtype: int64

In [78]:
train.columns

Index(['datetime', 'season', 'holiday', 'workingday', 'weather', 'temp',
       'atemp', 'humidity', 'windspeed', 'casual', 'registered', 'count'],
      dtype='object')

In [79]:
test.columns

Index(['datetime', 'season', 'holiday', 'workingday', 'weather', 'temp',
       'atemp', 'humidity', 'windspeed', 'casual', 'registered'],
      dtype='object')

In [80]:
#count is the target variable

In [81]:
train.corr()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
season,1.000000,-0.010959,0.014343,-0.013005,0.394560,0.397765,0.181712,-0.135762,0.104657,0.085699,0.100687
holiday,-0.010959,1.000000,-0.248558,-0.018406,-0.025104,-0.032903,-0.029520,0.021646,0.029135,-0.046053,-0.029340
workingday,0.014343,-0.248558,1.000000,0.052788,0.060589,0.064840,0.028026,0.001986,-0.307930,0.131819,0.018842
weather,-0.013005,-0.018406,0.052788,1.000000,-0.093655,-0.094877,0.432497,0.011120,-0.161752,-0.139034,-0.161018
temp,0.394560,-0.025104,0.060589,-0.093655,1.000000,0.991839,-0.048478,-0.008669,0.459414,0.344451,0.415938
atemp,0.397765,-0.032903,0.064840,-0.094877,0.991839,1.000000,-0.031606,-0.049997,0.454015,0.342345,0.412644
humidity,0.181712,-0.029520,0.028026,0.432497,-0.048478,-0.031606,1.000000,-0.296975,-0.320253,-0.279501,-0.322269
windspeed,-0.135762,0.021646,0.001986,0.011120,-0.008669,-0.049997,-0.296975,1.000000,0.079524,0.100579,0.105607
casual,0.104657,0.029135,-0.307930,-0.161752,0.459414,0.454015,-0.320253,0.079524,1.000000,0.509175,0.707938
registered,0.085699,-0.046053,0.131819,-0.139034,0.344451,0.342345,-0.279501,0.100579,0.509175,1.000000,0.968329
count,0.100687,-0.029340,0.018842,-0.161018,0.415938,0.412644,-0.322269,0.105607,0.707938,0.968329,1.000000

In [82]:
#As temp and a temp are strongly correlated we need to drop them instead they decrease the efiiciency of our model

In [83]:
train.dtypes

datetime       object
season          int64
holiday         int64
workingday      int64
weather         int64
temp          float64
atemp         float64
humidity      float64
windspeed     float64
casual          int64
registered      int64
count           int64
dtype: object

In [84]:
#As we need hourly based prdictions we need to split the date time into hour date and month

In [85]:
train["date"] = train.datetime.apply(lambda x : x.split()[0])
train["hour"] = train.datetime.apply(lambda x : x.split()[1].split(":")[0])
train["month"] = train.date.apply(lambda dateString : datetime.strptime(dateString,"%Y-%m-%d").month)

In [86]:
test["date"] = test.datetime.apply(lambda x : x.split()[0])
test["hour"] = test.datetime.apply(lambda x : x.split()[1].split(":")[0])
test["month"] = test.date.apply(lambda dateString : datetime.strptime(dateString,"%Y-%m-%d").month)

In [87]:
train1= train[train['datetime']<='2011-03-30 0:00:00']
test1 = train[train['datetime']>'2011-03-30 0:00:00']

In [88]:
train=train.drop(['datetime','date','atemp'],axis=1)
test=test.drop(['datetime','date','atemp'],axis=1)
train1=train1.drop(['datetime','date','atemp'],axis=1)
test1=test1.drop(['datetime','date','atemp'],axis=1)

# Model

In [89]:
#train and test data
Y_train=np.log(train1['count'])
X_train=train1.drop(['count'],axis=1)
Y_test=np.log(test1['count'])
X_test=test1.drop(['count'],axis=1)

In [90]:
from sklearn.linear_model import LinearRegression
LM=LinearRegression()
LM.fit(X_train,Y_train)

LinearRegression()

In [91]:
pred=LM.predict(X_test)

In [95]:
pd.DataFrame(pred).to_csv('C:/Users/SAKETHBGS/Downloads/t1.csv')

In [92]:
from sklearn.metrics import mean_squared_log_error as mse

In [94]:
mse(Y_test,pred)

0.06195034632250663