In [20]:
import pandas as pd
train=pd.read_csv('C:/Users/SAKETHBGS/Downloads/train.csv')
test=pd.read_csv('C:/Users/SAKETHBGS/Downloads/test.csv')

In [21]:
train.head()

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,subscribed
0,26110,56,admin.,married,unknown,no,1933,no,no,telephone,19,nov,44,2,-1,0,unknown,no
1,40576,31,unknown,married,secondary,no,3,no,no,cellular,20,jul,91,2,-1,0,unknown,no
2,15320,27,services,married,secondary,no,891,yes,no,cellular,18,jul,240,1,-1,0,unknown,no
3,43962,57,management,divorced,tertiary,no,3287,no,no,cellular,22,jun,867,1,84,3,success,yes
4,29842,31,technician,married,secondary,no,119,yes,no,cellular,4,feb,380,1,-1,0,unknown,no

In [22]:
train['subscribed'].replace('no', 0,inplace=True)
train['subscribed'].replace('yes', 1,inplace=True)

In [23]:
train.corr()

,ID,age,balance,day,duration,campaign,pdays,previous,subscribed
ID,1.000000,0.013337,0.067897,-0.063399,0.007183,-0.103508,0.436148,0.254476,0.296663
age,0.013337,1.000000,0.103245,-0.011056,-0.003870,0.005733,-0.021947,0.005761,0.024538
balance,0.067897,0.103245,1.000000,0.003461,0.024274,-0.012032,0.001789,0.013843,0.050807
day,-0.063399,-0.011056,0.003461,1.000000,-0.032288,0.159168,-0.087626,-0.048752,-0.029600
duration,0.007183,-0.003870,0.024274,-0.032288,1.000000,-0.080305,0.000529,0.001783,0.389838
campaign,-0.103508,0.005733,-0.012032,0.159168,-0.080305,1.000000,-0.087570,-0.033151,-0.070607
pdays,0.436148,-0.021947,0.001789,-0.087626,0.000529,-0.087570,1.000000,0.428938,0.108290
previous,0.254476,0.005761,0.013843,-0.048752,0.001783,-0.033151,0.428938,1.000000,0.088081
subscribed,0.296663,0.024538,0.050807,-0.029600,0.389838,-0.070607,0.108290,0.088081,1.000000

In [ ]:
val=train['subscribed']
train=train.drop('subscribed',1)

In [25]:
train=pd.get_dummies(train)

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(train, val, test_size = 0.2, random_state=12)

In [27]:
from sklearn.tree import DecisionTreeClassifier
dtc=DecisionTreeClassifier(max_depth=4,random_state=0)

In [30]:
dtc.fit(X_train,y_train)

DecisionTreeClassifier(max_depth=4, random_state=0)

In [31]:
pred=dtc.predict(X_val)

In [34]:
from sklearn.metrics import accuracy_score

In [35]:
accuracy_score(y_val,pred)

0.9042654028436019

In [ ]:
test=pd.get_dummies(test)
tpred=dtc.predict(test)

In [44]:
sol=pd.DataFrame()

In [45]:
sol['subscribed']=tpred

In [49]:
sol['subscribed'].replace(0,'no',inplace=True)
sol['subscribed'].replace(1,'yes',inplace=True)

In [50]:
sol.to_csv('sol1.csv')